---
layout: box.njk
permalink: /signal/index.html
title: Signal
description: "Byebye Whatsapp! Hello Signal!"
---

<h1 class="text-3xl font-bold uppercase">Bye Whatsapp! Hello Signal!</h1>
<p class="my-4">
    Ich bin absofort nicht mehr über WhatsApp zu erreichen. Stattdessen verwende ich für Instant-Messeging nur noch (oder eher "wieder nur")
    <a target="_blank" href="https://signal.org/de/">Signal</a>.
</p>
<p class="my-4">
    <a target="_blank" href="https://signal.org/de/">Signal</a> ist ein quelloffener Messenger, der zuvor schon von Edward Snowden und zuletzt auch von 
    <a target="_blank" href="https://twitter.com/elonmusk/status/1347165127036977153">Elon Musk beworben</a> wurde.
    <span class="text-xs text-gray-300">Wobei man sich bei Musk schon fragen darf, ob das positive Publicity ist, aber das ist ein anderes Thema ...</span>
</p>
<h2 class="text-xl uppercase">FAQ</h2>
<h3 class="text-lg text-gray-300 my-4">Aber Telegram/Threema/... ist viel besser!</h3>
<p class="mb-4 ml-4">Schlicht und ergreifend:</p>
<p class="my-4 ml-4">Nein</p>
<p class="my-4 ml-4">
    Insbesondere <a target="_blank" href="https://www.heise.de/hintergrund/Telegram-Chat-der-sichere-Datenschutz-Albtraum-eine-Analyse-und-ein-Kommentar-4965774.html">Telegram predigt Wasser und säuft Wein</a>.
    Telegram und Threema haben gemein, dass sie sich beide "Sicherheit durch Open-Source" auf die Flagge schreiben. Beide Messenger 
    haben jedoch nur den Quellcode ihrer Client-Software (Also der App die auf deinem Smartphone läuft) veröffentlicht. Was im Hintergrund
    auf dem Server passiert, der sich darum kümmert die Nachrichten zu verteilen, ist in beiden Fällen nach wie vor unbekannt. Signal
    hat auch diesen Quellcode veröffentlicht.
</p>
<h3 class="text-lg text-gray-300 my-4">Aber Signal kommt aus den USA! Da steckt die NSA mit drinne!</h3>
<p class="mb-4 ml-4">
    Die Software von Signal ist reproduzierbar. D.h. du kannst jederzeit den Quellcode herunterladen, ihn auf Hintertüren überprüfen und daraus die fertige Software erstellen
    und diese mit der auf deinem Gerät installierten Version vergleichen, ob sie 1 zu 1 einander entspricht.
</p>
<h3 class="text-lg text-gray-300 my-4">Trotzdem können die USA doch die Daten fordern!</h3>
<p class="mb-4 ml-4">
    In der Tat können Richter in den USA sog. <a target="_blank" href="https://de.wikipedia.org/wiki/Subpoena">Subpoenas und Gag-Orders</a> verhängen, die Betreiber verpflichten sämtliche Daten, die sie über
    Nutzer in der Hand haben, weiterzugeben und nicht öffentlich darüber zu sprechen.
</p>
<p class="my-4 ml-4">
    Signal ist jedoch so datensparsam geplant, dass die einzigen Informationen, die die Server von Signal speichern, der Zeitpunkt der 
    Registrierung und der Zeitpunkt des letzten Kontakts mit dem Server sind. Das wurde prozessrechtlich festgehalten, als Signal mit eben
    einer solchen Subpoena und anschließenden Gag-Order gezwungen wurde Nutzerdaten herauszugeben. Im Rahmen einer Klage gegen diese Anordnung
    wurde festgestellt, dass sie nicht rechtskonform war und Signal konnte sich das Recht erstreiten <a href="https://signal.org/bigbrother/eastern-virginia-grand-jury/">über diese Situation zu berichten</a>
</p>